/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */


IMG.title {
	display: block;
	margin-left: auto;
	margin-right:auto;
	top:2em;
}


#signOut {
	position:absolute;
	top:3em;
	right:3em;
}

#loadData {
	position:absolute;
	right:3em;
	top:5em;
}

#removeData {
	position:absolute;
	right:3em;
	top: 8em;
}

#rackMap {
	position:absolute;
	left: 0em;
	top: 15em;
}

#bigTable {
	position:absolute;
	left: 62em;
	top: 15em;
}

.fb-like {
	position:absolute;
	top:-5em;
}