/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-family: Impact, Charcoal, serif;
  font-size: 4em;
  color: #1975D1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2;
  text-align: center;
}


#signOut {
	position:absolute;
	right:3em;
}

#loadData {
	position:absolute;
	right:3em;
	top:5em;
}

#rackMap {
	position:absolute;
	left: 0em;
}

#bigTable {
	position:absolute;
	left: 64em;
}